@import 'nav';

// Nav Section:

nav{
  background-color: rgba(0,0,0,0.5);
  padding: 1px 7px;
  overflow: hidden;
  position: fixed;
  display: inline-block;
  width: 100%;
  z-index: 2;
}

nav ul{
  list-style-type:none;
  float:right;
  padding-right: 25px;


}

nav a{
  color: white;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
  font-weight: 100;
}

nav li{
  float:left;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 17px;
  text-transform: uppercase;
  padding-right: 20px;
}

.logo{
  height:36px;
  width:30px;
  margin-left: 29px;
  padding-top: 11px;
  padding-bottom: 10px;
}
