/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Oswald");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Coolors Exported Palette - coolors.co/50514f-fffcff-a7a7a9-fcfcfc-b8d4e3 */
/* HSL */
/* RGB */
header {
  font-family: 'Permanent Marker', cursive;
  background-color: #50514f;
  color: white;
  padding: 40px 0 40px 42%; }

header h1 {
  font-size: 60px; }

@media (max-width: 874px) {
  header h1 {
    font-size: 90px; } }

@media (max-width: 657px) {
  header h1 {
    font-size: 80px; }
  header {
    padding: 40px 0 40px 15%; } }

.column {
  margin: 0 auto;
  width: 85%; }

.left {
  font-family: 'Oswald', sans-serif;
  background-color: #a7a7a9;
  width: 20%;
  height: 700px;
  float: left;
  position: relative; }

.left img {
  border-radius: 100%;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -65px;
  left: 50px; }

.left p {
  text-align: center;
  font-size: 17px;
  padding-top: 110px; }

.intro {
  margin-top: -100px; }

.right {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: #F9F9F9;
  width: 80%;
  min-height: 700px;
  float: right; }

.right h1 {
  margin-top: 15px;
  font-size: 30px; }

ul {
  margin-top: 20px; }

.day {
  margin-top: 20px; }

.work {
  margin-top: 10px;
  margin-bottom: 20px; }

.work a {
  text-decoration: none;
  color: black; }

.work a:visited {
  color: teal; }

.work a:hover {
  color: black;
  font-weight: bold; }

footer a:visited {
  color: teal; }

footer a:hover {
  color: black;
  font-weight: bold; }

footer {
  background-color: #50514f;
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-weight: bold;
  padding: 40px 0 40px 200px;
  font-size: 30px;
  clear: both; }

footer a {
  font-size: 20px;
  text-decoration: none; }
