.left{
  font-family: 'Oswald', sans-serif;
  background-color:$color3;
  width: 15%;
  height: 700px;
  float: left;
  position: relative;
}

.left img{
  border-radius: 100%;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -65px;
  left: 22px;

}

.left p{
  text-align: center;
  font-size: 17px;
  margin-top: 110px;

}
