.right{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: #F9F9F9;
  width: 85%;
  min-height: 700px;
  float: right;

}

.right p{
  margin-top: 15px;
  font-size: 30px;
}
