/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Start my CSS*/

#fade-in{
	margin-top: 25px;
	 font-size: 21px;
	 text-align: center;
	 animation: fadein 5s;
	 -moz-animation: fadein 6s; /* Firefox */
	 -webkit-animation: fadein 6s; /* Safari and Chrome */
	 -o-animation: fadein 6s; /* Opera */
}
@keyframes fadein {
	 from {
			 opacity:0;
	 }
	 to {
			 opacity:1;
	 }
}

body{
}

nav{
	background-color:black;
	height: 400px;
	background-image: url(Wiki-background.jpg);
}

h1{
	color: yellow;
	font-family: 'Rock Salt', cursive;
	font-size: 60px;
	text-align:center;
	padding-top: 150px;

}

h2{
	font-family: 'Rock Salt', cursive;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	border-bottom: 2px solid black;
	padding-bottom: 20px;
}

p{
	font-family: 'Rock Salt', cursive;
	font-family: 'Raleway', sans-serif;
	line-height: 25px;
}

.paragraph-1{
	margin: 0 auto;
	max-width: 80%;
	margin-bottom: 40px;
}

.paragraph-2{
	margin: 0 auto;
	max-width: 80%;
}

.paragraph-3{
	margin: 0 auto;
	max-width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#widget{
	color: white;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	padding-top: 50px;
	text-align: center;

}

#top-image{
	display: block;
	margin: auto;
	width: 60%;
	margin-bottom: 30px;
}

.closing-image{
	display: block;
	margin:auto;
	width: 50%;
}
