#left-nav{
  float:left;
  background-color: rgba(13,13,13,0.7);
  width: 20%;
  min-height: 700px;
  margin-left: 5%;



}

img{
  border-radius: 100%;
  width: 125px;
  margin: 25px auto 0px auto;
  display: block;
}

a{
  display:block;
  text-align: center;
  margin: 20px 0;
  font-family: "distantgalaxy",serif;
  text-decoration: none;
  color: rgb(142, 36, 36);

}
