#main-content{
  background-color: rgba(13,13,13,0.7);
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 700px;
  float: left;
  color: white;
}

.paragraph-1{
  padding-bottom: 20px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.paragraph-2{
  padding-bottom: 20px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.paragraph-3{
  padding-bottom: 20px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 25px;

}
