h1{
	color: white;
	font-size: 70px;
	font-family: "distantgalaxy",serif;
	text-align: center;
	margin-bottom: 50px;
}

div{
	padding: 5px;

}

li{
	border: solid 1px red;
	float:left;
	width: 600px;
	color: white;
  margin-left: 5%;
	margin-bottom: 5%;


}

h2{
	font-weight: bold;
	font-family: helvetica, sans-serif;
	color: white;
	padding-bottom: 5px;
}
