@import 'hero';

.hero{
  background-image: url("jesse-jump.jpg");
  z-index: 1;
  position: relative;
  height: 700px;
  background-size: cover;

}

.hero:after{
  background-color: rgba(5,5,0,.5);
  position: absolute;
  content: "";
  top: 0;
  right:0;
  left:0;
  bottom:0;
  z-index: -1;
}

.hero-messaging{
  z-index: 3;
  color:white;
  text-align: center;
  padding-top:250px;
  width:80%;
  margin: 0 auto;
}

.hero-messaging h1{
  font-size: 3.2em;
	margin-bottom: 25px;
	margin-top: -52px;
}

.hero-messaging p{
  font-size:1.4em;
	font-weight: 100;
  font-family: "Open Sans", sans-serif;
	line-height: 2;
	width: 90%;
	margin: 0 auto;
}

.btn{
		outline: 2px solid rgb(221, 199, 117);
    text-transform: uppercase;
    font-size: 25px;
    display: inline-block;
    padding: 1.4rem 4rem;
    margin-top: 45px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    font-family: Merriweather, serif;

}

.btn:hover{
	background-color: rgb(221, 199, 117);
}
