

#search-query{
  margin-bottom: 40px;
  margin-left: 650px;
  margin-top: 20px;
  width: 200px;
}

#repos{
  float: left;
  margin: 0 auto;
}

li{
  float: left;
  width: 22%;
  margin-left: 8%;
  margin-bottom: 25px;
}

img{
  width: 350px;
  border-radius: 100%;
  margin-bottom: 10px;
}

a{
  font-size: 20px;
  margin-top: 10px;
}
