.search-bar{
display: block;
margin-top: 10px;
margin-bottom: 20px;
height: 70px;
width: 100%;
background-color: black;
color: white;
}

#search-query{
  height: 20px;
  width: 150px;
  margin-left: 150px;
  margin-top: 20px;
}



#repos{
  float: left;
  margin: 0 auto;
}

p{
  text-align: center;
  font-family: serif;
  font-size: 25px;
}

li{
  float: left;
  width: 22%;
  margin-left: 8%;
  margin-bottom: 25px;
  text-align: center;
  height: 500px;
}

img{
  width: 350px;
  border-radius: 100%;
  margin-bottom: 10px;
}

a{
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
  display: block;
  width: 100%;
  font-family: sans-serif;
  color: black;
  font-weight: bold;

}


.counter{
  float:right;
  margin-top: 25px;
  font-size: 20px;
  margin-right: 20px;
}
